@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css);


/*laptop large*/

body{
	font-family: Baskerville, “Baskerville Old Face”, “Hoefler Text”, Garamond, “Times New Roman”, serif;
	position: relative;
	letter-spacing: 0.75px;
}
h2{

}
ul{
	list-style-type: none;
	background-color: black;
	color: white;
	opacity: 0.5;
	position: absolute;
	bottom: 0px;
	font-size: 18px;
}
li{
	display: inline-block;
	padding-left: 20px;
	padding-right: 20px;
}
.linked-words{
	color: white;
}
.body-container{
	display: block;
	width: 80%;
	margin: 0 auto;
	padding-top: 10px;
}
.column1{
	display: inline-block;
	width: 30%;
}
.column2{
	display: inline-block;
	width: 33%;
	margin: 0px;
	text-align: center;
	position: relative;
}
.column3{
	display: inline-block;
	width: 30%;
}
.title-statement{
	position: absolute;
	top: 30px;
	right: 20px;
	margin: 0px;
}
.mission-statement{
	font-size: 22px;
	font-style: italic;
	color: white;
	text-align: right;
	margin-top: 5px;
	padding-right: 50px;
}
.modal-div{

}
.content{

}
.text{

}
.top-bar{
	background-image: url("http://images.fineartamerica.com/images/artworkimages/mediumlarge/1/philadelphia-skyline-panorama-susan-candelario.jpg");
	height: 450px;
	background-size:100% 100%;
	position: relative;
}
.header-title{
	color: white;
	font-size: 62px;
	margin: 0px;
}
.footer-container{
	background-color: black;
	color: white;
	opacity: 0.5;
	padding-top: 10px;
	margin: 0;
	width: 100%;
	height: 150px;
	display: block;
}
.contact-container{
	display: inline-block;
	width: 33%;
	margin: 0 auto;
	padding-top: 0;
	text-align: left;
	position: relative;
}
.footer-contacts{
	position: absolute;
	top: 5px;
	left: 10px;
}
.contact{
	display: block;
	width: 90%;
	margin: 0 auto;
}
.column2-socialmedia{
	position: absolute;
	bottom: 650px;
	left: 35px;
}
.column2-icons{
	font-size: 20px;
	text-align: center;
	display: block;
	width: 100%;
	margin: 0 auto;
	letter-spacing: 2px;
}
.footer-socialmedia{
	display: inline-block;
	width: 33%;
	margin: 0 auto;
	padding-top: 0;
	text-align: center;
	position: relative;
}
.footer-icons{
	position: absolute;
	top: 30px;
	right: 150px;
}
.signup-container{
	display: inline-block;
	width: 33%;
	margin: 0 auto;
	padding-top: 0;
	text-align: center;
	position: relative;
}
.signup-text{
	position: absolute;
	top: 30px;
	right: 30px;
}
.image-label{
	background-color: black;
	color: white;
	opacity: 0.5;
	position: absolute;
	bottom: 0px;
	display: block;
	padding-left: 10px;
}
.freetime-container{
	background-image: url("http://media.gq.com/photos/57e58f7fbeed5f275b337f8f/master/pass/watch-of-the-week-hublot-02.jpg");
	height: 220px;
	width: 90%;
	margin: 20px auto;
	background-size:100% 100%;
	position: relative;
	display: block;
}
.about-container{
	background-image: url("http://41.media.tumblr.com/3ec0976f73ae933fbd873aa5458b8891/tumblr_nemadsiQxC1ttxb55o1_r2_500.png");
	background-size: 100% 100%;
	height: 450px;
	width: 90%;
	margin: 100px auto 30px auto;
	position: relative;
	display: block;
}
.representatives-container{
	background-image: url("https://c.stocksy.com/a/5nq000/z0/202931.jpg");
	height: 450px;
	width: 90%;
	margin: 20px auto;
	background-size:100% 100%;
	position: relative;
	display: block;
}
.testimonials-container{
	background-image: url("http://www.massvacation.com/wp-content/uploads/2013/06/83_fine-dining_0000_7656940918_2a574e951c_b.jpg");
	height: 200px;
	width: 90%;
	margin: 80px auto 80px auto;
	background-size:100% 100%;
	position: relative;
	display: block;
}
.quote-container{
	position: absolute;
	bottom: 200px;
}
.quote{
	font-size: 30px;
	display: block;
	width: 100%;
	margin: 0 auto;
	letter-spacing: 2px;
}
.quote-accent{
	font-style: italic;
	letter-spacing: 3px;
	font-size: 34px;
}
.subtitle{
	font-size: 14px;
	display:block;
	width: 100%;
	margin: 20px auto;
}
#timedModal{
	width: 100%;
	height: 100%;
	display: none;
	position: absolute;
	top: 300px;
	background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.5);
	z-index: 1;
}
#modalContent{
	width: 70%;
	margin: 0 auto;
	text-align: center;
	background-color: #ffb6c1;
	font-size: 14px;
	padding-bottom: 5px;
	position: relative;
}
#close{
	font-size: 16px;
	position: absolute;
	top: 0;
	right: 0;
	padding: 0px 5px;
}
#close:hover{
	background-color: white;
	color: black;
}
#modalText{

}
#modalContact{
	margin-bottom: 30px;
}
#modalButton{
	font-size: 16px;
	width: 40%;
	margin: 0 auto;
}

 /*end laptop large*/

@media all and (min-width: 768px) and (max-width: 979px){
	/*laptop normal*/
	} /* end laptop normal*/

@media all and (max-width: 767px){
	/*tablet*/
	} /*end tablet*/
@media all and (max-width: 480px){
	/*mobile*/
	.quote{
		display: none;
	}
}/*end mobile*/