/*laptop large*/

body{
	font-family: Baskerville, “Baskerville Old Face”, “Hoefler Text”, Garamond, “Times New Roman”, serif;
	position: relative;
	letter-spacing: 0.75px;
}
h2{

}
ul{
	list-style-type: none;
	background-color: black;
	color: white;
	opacity: 0.5;
	position: absolute;
	bottom: 0px;
	font-size: 36px;
	margin: 20px 0px;
}
li{
	display: inline-block;
	padding-left: 20px;
	padding-right: 20px;
}
.linked-words{
	color: white;
}
.body-container{
	display: block;
	width: 80%;
	margin: 0 auto;
	padding-top: 10px;
}
.column1{
	display: inline-block;
	width: 30%;
}
.column2{
	display: inline-block;
	width: 33%;
	margin: 0px;
	text-align: center;
	position: relative;
}
.column3{
	display: inline-block;
	width: 30%;
}
.title-statement{
	position: absolute;
	top: 40px;
	right: 20px;
	margin: 0px;
}
.mission-statement{
	font-size: 22px;
	font-style: italic;
	color: white;
	text-align: right;
	margin-top: 5px;
	padding-right: 50px;
}
.modal-div{

}
.content{

}
.text{

}
.top-bar{
	background-image: url("http://images.fineartamerica.com/images/artworkimages/mediumlarge/1/philadelphia-skyline-panorama-susan-candelario.jpg");
	height: 600px;
	background-size: 100% 100%;
	position: relative;
	letter-spacing: 2px;
}
.header-title{
	color: white;
	font-size: 82px;
	margin: 0px;
}
.mission-statement{
	font-size: 32px;
	}
.tab-mobile{
	display: none;
}
.footer-container{
	background-color: black;
	color: white;
	opacity: 0.5;
	padding-top: 10px;
	margin: 0;
	width: 100%;
	height: 150px;
	display: block;
}
.contact-container{
	display: inline-block;
	width: 33%;
	margin: 0 auto;
	padding-top: 0;
	text-align: left;
	position: relative;
}
.footer-contacts{
	position: absolute;
	top: 5px;
	left: 10px;
}
.contact{
	display: block;
	width: 90%;
	margin: 0 auto;
}
.column2-socialmedia{
	position: absolute;
	bottom: 650px;
	left: 35px;
}
.column2-icons{
	font-size: 20px;
	text-align: center;
	display: block;
	width: 100%;
	margin: 0 auto;
	letter-spacing: 2px;
}
.footer-socialmedia{
	display: inline-block;
	width: 33%;
	margin: 0 auto;
	padding-top: 0;
	text-align: center;
	position: relative;
}
.footer-icons{
	position: absolute;
	top: 30px;
	right: 150px;
}
.signup-container{
	display: inline-block;
	width: 33%;
	margin: 0 auto;
	padding-top: 0;
	text-align: center;
	position: relative;
}
.signup-text{
	position: absolute;
	top: 30px;
	right: 30px;
}
.image-label{
	background-color: black;
	color: white;
	opacity: 0.5;
	position: absolute;
	bottom: 0px;
	display: block;
	padding-left: 10px;
	font-size: 18px;
}
.image-label-tablet{
	background-color: black;
	color: white;
	opacity: 0.5;
	position: absolute;
	bottom: 0px;
	display: none;
	padding-left: 10px;
	font-size: 14px;
}
.freetime-container{
	background-image: url("http://media.gq.com/photos/57e58f7fbeed5f275b337f8f/master/pass/watch-of-the-week-hublot-02.jpg");
	height: 220px;
	width: 90%;
	margin: 20px auto;
	background-size:100% 100%;
	position: relative;
	display: block;
}
.about-container{
	background-image: url("http://41.media.tumblr.com/3ec0976f73ae933fbd873aa5458b8891/tumblr_nemadsiQxC1ttxb55o1_r2_500.png");
	background-size: 100% 100%;
	height: 450px;
	width: 90%;
	margin: 100px auto 30px auto;
	position: relative;
	display: block;
}
.representatives-container{
	background-image: url("https://c.stocksy.com/a/5nq000/z0/202931.jpg");
	height: 450px;
	width: 90%;
	margin: 20px auto;
	background-size:100% 100%;
	position: relative;
	display: block;
}
.testimonials-container{
	background-image: url("http://www.massvacation.com/wp-content/uploads/2013/06/83_fine-dining_0000_7656940918_2a574e951c_b.jpg");
	height: 200px;
	width: 90%;
	margin: 80px auto 80px auto;
	background-size:100% 100%;
	position: relative;
	display: block;
}
.quote-container{
	position: absolute;
	bottom: 200px;
}
.quote{
	font-size: 30px;
	display: block;
	width: 100%;
	margin: 0 auto;
	letter-spacing: 2px;
}
.quote-accent{
	font-style: italic;
	letter-spacing: 3px;
	font-size: 34px;
}
.subtitle{
	font-size: 14px;
	display: block;
	width: 100%;
	margin: 20px auto;
}
#timedModal{
	width: 100%;
	height: 85%;
	display: none;
	position: absolute;
	top: 200px;
	background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.5);
	z-index: 1;
}
#modalContent{
	width: 75%;
	margin: 0px auto;
	text-align: center;
	background-color: #ffb6c1;
	font-size: 34px;
	padding: 20px 0px;
	position: relative;
}
#close{
	font-size: 38px;
	position: absolute;
	top: 0;
	right: 0;
	padding: 0px 5px;
	background-color: black;
	opacity: 0.5;
	color: white;
	margin-top: 5px;
	margin-right: 5px;
}
#close:hover{
	background-color: white;
	color: black;
	opacity: 1;
}
#closeX{
	font-size: 28px;
	position: absolute;
	top: 0;
	right: 0;
	padding: 0px 5px;
	background-color: black;
	opacity: 0.5;
	color: white;
	margin-top: 5px;
	margin-right: 5px;
}
#closeX:hover{
	background-color: white;
	color: black;
	opacity:1;
}
#desire{
	font-size: 34px;
	height: 40px;
	margin: 10px;
}
#duty{
	font-size: 34px;
	height: 40px;
	margin: 10px;
}
#name{
	font-size: 34px;
	height: 40px;
	margin: 10px;
}
#modalContact{
	font-size: 34px;
	height: 40px;
	margin: 10px;
}
#modalButton{
	font-size: 32px;
	width: 50%;
	margin: 50px auto 30px auto;
}
 /*end laptop large*/

@media (min-width: 769px) and (max-width: 1024px){
	/*laptop normal*/

	ul{
		margin: 15px 0px; 
		font-size: 24px;
	}
	li{
		padding-right: 15px;
		padding-left: 15px;
	}
	.top-bar{
		height: 450px;
	} 
	.title-statement{
		top: 20px;
		right: 15px;
	}
	.freetime-container{
		height: 180px;
	}
	.about-container{
		height: 390px;
	}
	.representatives-container{
		height: 350px;
	}
	.testimonials-container{
		height: 160px;
	}
	.image-label{
		font-size: 14px;
	}
	.footer-icons{
		right: 80px;
	}
	.header-title{
		font-size: 60px;
	}
	.mission-statement{
		font-size: 22px;
	}
	.column2-socialmedia{
		bottom: 575px;
		left: 20px;
	}
	.column2-icons{
		font-size: 18px;
		letter-spacing: 1px;
	}
	.quote-container{
		bottom: 150px;
	}
	.quote{
		font-size: 28px;
	}
	.quote-accent{
		font-size: 32px;
	}
	#timedModal{
		top: 140px;
	}
	#desire{
		font-size: 28px;
		height: 32px;
		margin: 8px;
	}
	#duty{
		font-size: 28px;
		height: 32px;
		margin: 8px;
	}
	#name{
		font-size: 28px;
		height: 32px;
		margin: 8px;
	}
	#modalContact{
		font-size: 28px;
		height: 32px;
		margin: 8px;
	}
	#modalButton{
		font-size: 26px;
		width: 50%;
		margin: 40px auto 20px auto;
	}
	#modalContent{
		font-size: 30px;
	}
	#close{
		font-size: 32px;
	}
}/* end laptop normal*/


@media (min-width: 481px) and (max-width: 768px){
	/*tablet*/ 
	
	.top-bar{
		height: 350px;
	}
	.title-statement{
		top: 15px;
		right: 10px;
	}
	ul{
		margin: 10px 0px;
		font-size: 16px;
	}
	li{
		padding-right: 10px;
		padding-left: 10px;
	}
	.image-label{
		display: none;
	}
	.image-label-tablet{
		display: block;
	}
	.freetime-container{
		height: 140px;
	}
	.about-container{
		height: 300px;
	}
	.representatives-container{
		height: 260px;
	}
	.testimonials-container{
		height: 120px;
	}
	.header-title{
		font-size: 42px;
	}
	.mission-statement{
		font-size: 18px;
	}
	.column2-socialmedia{
		bottom: 525px;
		left: 8px;
	}
	.column2-icons{
		font-size: 14px;
		letter-spacing: 1px;
	}
	.quote-container{
		bottom: 100px;
	}
	.quote{
		font-size: 24px;
	}
	.quote-accent{
		font-size: 30px;
	}
	.footer-icons{
		top: 0px;
		right: 0px;
	}
	.signup-container{
		float: right;
	}
	.signup-text{
		top: 15px;
		right: 15px;
	}
	.footer-container{
		height: 100px;
	}
	.footer-contacts{
		top: 5px;
		left: 10px;
	}
	#desire{
		font-size: 22px;
		height: 28px;
		margin: 6px;
	}
	#timedModal{
		top: 100px;
		height: 95%;
	}
	#duty{
		font-size: 22px;
		height: 28px;
		margin: 6px;
	}
	#name{
		font-size: 22px;
		height: 28px;
		margin: 6px;
	}
	#modalContact{
		font-size: 22px;
		height: 28px;
		margin: 6px;
	}
	#modalButton{
		font-size: 20px;
		width: 50%;
		margin: 30px auto 10px auto;
	}
	#modalContent{
		font-size: 20px;
	}
	#close{
		font-size: 28px;
	}
} /*end tablet*/

@media all and (max-width: 480px){
	/*mobile*/

	.title-statement{
		top: 15px;
		right: 5px;
		letter-spacing: normal;
	}
	ul{
		margin: 5px auto;
		font-size: 12px;
	}
	li{
		padding-left: 0px;
		padding-right: 5px;
	}
	.top-bar{
		height: 200px;
	}
	.header-title{
		font-size: 26px;
	}
	.mission-statement{
		display: none;
	}
	.tab{
		display: none;
	}
	.tab-mobile{
		display: inline-block;
	}
	.column1{
		display: block;
		width: 80%;
		margin: 20px auto;
	}
	.column2{
		display: block;
		position: static;
		width: 80%;
		margin: 60px auto;
	}
	.column2-socialmedia{
		position: static;
		margin: 40px auto 80px auto;
	}
	.column2-icons{
		position: static;
		font-size: 18px;
	}
	.quote-container{
		position: static;
	}
	.column3{
		display: block;
		width: 80%;
		margin: 20px auto;
	}
	.image-label{
		display: none;
	}
	.image-label-tablet{
		display: block;
		font-size: 20px;
	}
	.freetime-container{
		height: 160px;
	}
	.about-container{
		height: 340px;
		margin: 80px auto;
	}
	.representatives-container{
		height: 350px;
	}
	.testimonials-container{
		height: 140px;
		margin: 80px auto;
	}
	.footer-container{
		display: static;
		height: 200px;
	}
	.contact-container{
		display: block;
		position: static;
		width: 100%;
		margin: 10px auto;
		text-align: center;
	}
	.footer-contacts{
		position: static;
	}
	.footer-socialmedia{
		display: block;
		position: static;
		width: 100%;
		margin: 40px auto;
	}
	.footer-icons{
		position: static;
	}
	.signup-container{
		display: block;
		position:static;
		width: 100%;
		margin: 10px auto;
	}
	.signup-text{
		position:static;
	}
	#desire{
		font-size: 18px;
		height: 24px;
		margin: 4px;
	}
	#timedModal{
		top: 60px;
		height: 100%;
	}
	#duty{
		font-size: 18px;
		height: 24px;
		margin: 4px;
	}
	#name{
		font-size: 18px;
		height: 24px;
		margin: 4px;
	}
	#modalContact{
		font-size: 18px;
		height: 24px;
		margin: 4px;
	}
	#modalButton{
		font-size: 16px;
		width: 40%;
		margin: 15px auto 5px auto;
	}
	#modalContent{
		font-size: 20px;
	}
	#closeX{
		display: block;
	}
	#close{
		display: none;
	}

}/*end mobile*/





